Flask
Flask-Cors
Flask-Login
Flask-Bcrypt
python-dotenv

pymongo[srv]

requests
beautifulsoup4

nltk
rapidfuzz
python-slugify

pdfminer.six
python-docx

reportlab
pandas
tabulate

numpy<2
torch
sentence-transformers

google-generativeai
